<ion-header>
  <ion-toolbar>
    <ion-button color="warning" routerLink="/home"><ion-icon name="home"></ion-icon></ion-button>CONTROL
  </ion-toolbar>
</ion-header>


     
<ion-content>

  <!--<p> INGRESOS Y GASTOS</p>

  <ion-button color="danger"  >AÑADIR GASTOS<ion-icon name="trending-down-outline"></ion-icon></ion-button>
  <ion-button color="success"  (click)="anadirIngresos()">AÑADIR INGRESOS<ion-icon name="trending-up-outline"></ion-icon></ion-button>
  
  <ion-list>
    <ion-item *ngFor="let ingreso of ingresos; let x= index">
      {{ingresos.nombre}}
      {{ingresos.descripcion}}
      {{ingresos.fecha}}
      {{ingresos.valor}}
      
    </ion-item>
  </ion-list> -->
  
  
  <ion-item>
    <ion-label position="floating"><ion-icon name="person-circle-outline"></ion-icon>NOMBRE:</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating"><ion-icon name="reader-outline"></ion-icon>DESCRIPCION:</ion-label>
    <ion-input [(ngModel)]="descripcion"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label></ion-label>
    <ion-icon name="calendar-outline"></ion-icon><ion-datetime placeholder="DD/MM/YYYY" value=" {{fecha | date : 'dd/MM/YYYY' }}" [(ngModel)]="fecha"></ion-datetime>
<ion-input ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating"><ion-icon name="cash-outline"></ion-icon>VALOR:</ion-label>
    <ion-input [(ngModel)]="valor"></ion-input>
    
  </ion-item>
  
  <ion-button color="danger"  (click)="guardarGastos()">guardar Gastos<ion-icon name="save"></ion-icon></ion-button>

  <ion-button color="success"  (click)="guardarIngresos()">guardar Ingresos<ion-icon name="save"></ion-icon></ion-button>

  <ion-button color="danger"  routerLink="/listgastos">LISTA GASTOS<ion-icon name="clipboard"></ion-icon></ion-button>

  <ion-button color="success"  routerLink="/listingresos"> LISTA INGRESOS<ion-icon name="clipboard"></ion-icon></ion-button>
  
  <ion-list>
    <ion-item>
      <ion-label color="warning">NOMBRE</ion-label>
      <ion-label color="warning">DESC</ion-label>
      <ion-label color="warning">FECHA</ion-label>
      <ion-label color="warning">VALOR </ion-label> 
     
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let ingreso of ingresos">
      <ion-label>{{ingreso.nombre  }}</ion-label>
      <ion-label>{{ingreso.descripcion  }}</ion-label>
      <ion-label>{{ingreso.fecha   }}</ion-label>
      <ion-label>{{ingreso.valor  }}</ion-label> 
     
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let gasto of gastos">
      <ion-label>{{gasto.nombre  }}</ion-label>
      <ion-label>{{gasto.descripcion  }}</ion-label>
      <ion-label>{{gasto.fecha   }}</ion-label>
      <ion-label>{{gasto.valor  }}</ion-label> 
     
    </ion-item>
  </ion-list>
  
</ion-content>
