/*ion-col{
    border: 1px solid
}

ion-row{
    height: 25px;
    margin-bottom: 50px;
}*/
ion-grid {
    display: grid;
    grid-template-columns: 132px 132px 132px;
    grid-gap: 5px;
}
  
ion-row{
    border: 2px rgb(0, 0, 0) solid;
    height: 180px;
    height: espacios[i] 50px;
}

