<ion-header>
  <ion-toolbar color="success">
    <ion-button routerLink="/control"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>INGRESOS
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let ingreso of ingresos">
      <ion-label color="tertiary">NOMBRE:{{ingreso.nombre}}
      <ion-label color="dark">DESCRIPCION: {{ingreso.descripcion}}</ion-label>
      <ion-label color="dark">FECHA: {{ingreso.fecha}}</ion-label>
      <ion-label color="dark">VALOR: {{ingreso.valor}}</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
